<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Faves</title>
</head>
<body>
<nav>
    {{#if username}}
    <p class = 'hello'>
        Logged In As: {{username}}
    </p>
    <p><a href="/faves">Faves</a></p>
    <p><a href="/logout">Log Out</a></p>
    {{else}}
    <p><a href="/login">Log In</a></p>
    <p><a href="/register">Register</a></p>
    {{/if}}
    <p><a href="/">Main List</a></p>
</nav>
<h3>Reddit Space Faves!</h3>

<div class="">
    {{#faves}}
    <div class="">
        <a href="{{url}}">{{title}}</a>
    </div>
    {{/faves}}
</div>

</body>
</html>